section.project-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
  .project-item {
    .project-date {
      min-width: none;
    }
  }

  .card-columns {
    .card-img-overlay {
      background-color: rgba($color: #000000, $alpha: 0.5);
    }
  }
}
@media (min-width: 768px) {
  section.project-section {
    min-height: 100vh;
    .project-item {
      .project-date {
        min-width: 18rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.project-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
